*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
body{
				background-color: ghostwhite;
				font-family: 'roboto' , sarif;
}
.content-wrap{
			 width: 80%;
				margin: 0px auto;
				padding-bottom: 40px;
}
h1{
				font-family: 'Zen Dots', cursive;
				font-weight: 200;
}
h2{
				font-size: 20px;
				line-height: 1.3;
				font-family: 'Roboto', sans-serif;
}
h3{
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
}
p{
				font-size: 10px;
				font-weight: 400;
				font-family: 'Montserrat', sans-serif;
}
a{
				text-decoration: none;
				background: #191970;
				color: ghostwhite;
				margin-top: 200px;
				padding: 5px 10px;
				border-radius: 5px;
}
/* profile */
header{
				position: relative;
				background-image: url(../images/background-profile.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center center;
				display: float;
}
header > .content-wrap{
				position: absolute;
				color: white;
				text-decoration: center;
				margin: 50px 10%;;
				z-index: 2;
}
.opacity{
				background: rgba(128,128,128,0.7);
				width: 100%;
				height: 300px;
}
/*---------------- education */
.education{
				background-color: #A1C6D7 ;				
}
.education .content-wrap section{
				padding: 20px 0;
				border-bottom: 1px dotted black;
}
.education h2{
				padding-top: 40px;
				padding-bottom: 20px;
				text-align: center;
}
.education h3{
				padding-bottom: 5px;
}
.education p{
				padding-bottom: 5px;
}
.education .content-wrap section:last-child{
				border: none;
}
/* tech-skills */
.tech-skills ul{
				list-style-type: none;
}
.tech-skills li{
				font-family: 'Montserrat', sans-serif;
				text-align: center;
				font-size: 16px;
				line-height: 1.5;
}
.tech-skills h2{
				padding-top: 40px;
				padding-bottom: 20px;
				text-align: center;
}
/* certificates */
.certificates{
				background-color: #A3BCB6;
}
.certificates h2{
				padding-top: 40px;
				padding-bottom: 20px; 
				text-align: center;
}
.certificates h3{
				padding: 5px 0;
}
.certificate img{
				margin-top: 40px;
}
.certificates p{
				margin-bottom: 20px;
}
.certificate-item{
				padding: 20px 0;
				border-bottom: 1px dotted black;
}
.certificates .content-wrap section:nth-child(5){
				border: none;
}
/* ----footer---- */
footer{
				background: #343434;
				color: #FFDF00;
				font-family: 'Dancing Script', cursive;
}
footer ul{
				list-style: none
}
footer a{
				text-decoration: none;
				color: #ffdf00;
				background: none;
}
footer h1{
				font-weight: 800;
				padding: 20px 0;
				font-family: 'Dancing Script', cursive;
}
footer li{
				padding: 10px 0;
}
footer span{
				margin-left: 43%;
				padding: 10px 10px;
				text-align: center;
}
/* ---for medium screen device */
@media screen and (min-width: 500px){
				.medium-screen-float-height-control{
								min-height: 200px;
				}
				.item-1 img, .item-3 img{
								float: left;
								overflow: hidden;
								margin: 0 15px 15px 0;
				}
				.item-2 img, .item-4 img{
								float: right;
								overflow: hidden;
								margin: 0 15px 15px 0;
				}
				
				
}
